<ion-view title="Jugar" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="jugar-card22">
            <div class="item item-body " id="jugar-list-item-container2">
                <h1 id="jugar-heading1" style="color:#000000;text-align:center;" class=" ">Heading</h1>
                <p id="jugar-markdown1" style="color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>. Some friendly
                    <strong>markdown</strong>lorem ipsum dolor sit amet</p>
            </div>
        </div>
        <div class="list card " id="jugar-card23">
            <form id="jugar-form4" class="list ">
                <label class="item item-input item-stacked-label " id="jugar-input4" name="nueva-regla">
                    <span class="input-label">nueva regla</span>
                    <input type="text" placeholder="lorem ipsum">
                </label>
            </form>
            <ion-item class="item-icon-left assertive  " id="jugar-list-item6">
                <i class="icon ion-alert"></i>Regla
                <span class="item-note">lorem ipsum</span>
            </ion-item>
        </div>
        <button id="jugar-button2" style="border-radius:0px 0px 0px 0px;" class=" button button-positive  button-block icon ion-ios-play "></button>
    </ion-content>
</ion-view>