<ion-view title="Nuevo Jugador" id="page5" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="nuevoJugador-card21">
            <ion-item class="item-avatar  " id="nuevoJugador-list-item7">
                <h2>Item</h2>
            </ion-item>
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
            </div>
            <div class="item item-body " id="nuevoJugador-list-item-container3">
                <p id="nuevoJugador-null" style="margin-top:0px;color:#000000;" class=" ">Some friendly
                    <strong>markdown</strong>
                </p>
                <button id="nuevoJugador-button5" class=" button button-positive  button-block icon ion-android-person-add "></button>
            </div>
        </div>
    </ion-content>
</ion-view>