// _main.sass

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:700,400|Lato:400,300)

// Font Variables
$roboto-slab: 'Roboto Slab', serif
$open-sans: 'Lato', sans-serif

// Styles

body
  font-family: 100% $roboto-slab !important
  font-style: normal
  background-color: $Blue-Grey-900 !important
  color: $Grey50 !important
h1
  font: $roboto-slab !important
  color: white !important
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)

h3
  font-family: $open-sans !important
  background-color: #565656
  color: transparent !important
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5)
  -webkit-background-clip: text
  -moz-background-clip: text
  background-clip: text
.center
  text-align: center
.titulo
  background-color: $Blue-Grey-300
.container
  max-width: 980px
  margin: 0 auto
  background-color: $Grey300
  padding-bottom: 2em
.principal
  color: $Grey800 !important
  background-color: $Blue-Grey-500 !important
.secundario
  font-family: $open-sans
  color: $Blue-Grey-700
  padding-top: 1em
.btn-play
  margin: 0 auto
footer
  text-align: center
