// _main.sass

// Google Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:700,400|Lato:400,300)

// Font Variables
$roboto-slab: 'Roboto Slab', serif
$lato: 'Lato', sans-serif
$shadow_desktop: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15)
$shadow_movile: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135
=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

//Responsive Variables

// $small: 480px
// $fono: 768px
// $tablet: 992px
// $escritorio: 1232px

// Styles

body
  font: 100% $roboto-slab !important
  font-style: normal
  background-color: $Blue-Grey-900 !important
  color: $Grey50 !important
h1
  font: $roboto-slab !important
  color: white !important
h3
  font-family: $lato
  background-color: #565656
  color: transparent
  text-shadow: 0px 2px 3px rgba(255,255,255,0.5)
  -webkit-background-clip: text
  -moz-background-clip: text
  background-clip: text

.center
  text-align: center
.titulo
  background-color: $Blue-Grey-300
.container
  max-width: 980px
  margin: 0 auto
  background-color: $Grey300
  padding-bottom: 2em
  +border-radius(10px)
.principal
  color: $Grey800 !important
  background-color: $Blue-Grey-500 !important
.secundario
  font-family: $lato
  color: $Blue-Grey-700
  padding-top: 1em
.btn-play
  margin: 0 auto
footer
  text-align: center

@media screen and (max-width: 1023px)
  h3
    font-weight: 400
  h1
    text-shadow: $shadow_movile
@media screen and (min-width: 1024px)
  h3
    font-weight: 300
  h1
    text-shadow: $shadow_desktop
